[class*=' spoticon-']:before,
[class^='spoticon-']:before {
  font-family: glue1-spoticon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.spoticon-shuffle:before {
  content: '\F144';
}

.spoticon-skip-back:before {
  content: '\F146';
}

.spoticon-play:before {
  content: '\F132';
}

.spoticon-skip-next:before {
  content: '\F148';
}

.spoticon-repeat:before {
  content: '\F13E';
}

.spoticon-volume:before {
  content: '\F15E';
}
