[class*=' spoticon-']:before,
[class^='spoticon-']:before {
  font-family: glue1-spoticon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.spoticon-shuffle:before {
  content: '\F144';
}
